.title {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: black;
  font-weight: normal;
  text-decoration: rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
.font {
  font-size: 20px;
}

h1 {
  color: black;
}
a:link {
  color: blue;
}

a:hover {
  color: gray;
}

a:hover {
  text-decoration: none;
}

body {
  background: url(https://raw.githubusercontent.com/rdemko2332/rdemko2332.github.io/main/white_keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 200px;
  height: 200px;
}









