h1 {
  color: black;
}
a:link {
  color: blue;
}

a:hover {
  color: gray;
}

a:hover {
  text-decoration: none;
}

body {
  background: url(https://raw.githubusercontent.com/rdemko2332/rdemko2332.github.io/main/white_keyboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



